@import 'tailwindcss';
@theme {
    --color-orange: #ee4d2d;
    --color-yellow: #f69113;
}
@layer components {
    container {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
html {
    height: 100%;
    line-height: 1.2;
}
body {
    font-family: 'Helvetica Neu', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
